.dancing-script-<text> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    background-color: lightskyblue;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
}

nav {
    display: flex;
}

nav a {
    flex: 1;
    color: purple;
}

footer a {
    color: lightskyblue;
}

header h1 {
    margin: 0;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
}

.rainbow {
    background: linear-gradient(90deg,
            red,
            orange,
            yellow,
            green,
            cyan,
            blue,
            violet,
            red);
    background-size: 400%;
    animation: rainbow 5s linear infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.zone-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card {
    padding: 20px;
    border-radius: 10px;
}

.card:hover {
    background-color: plum;
}

.zone-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* carte */
.card {
    padding: 20px;
    border-radius: 10px;
    color: white;
    transition: background 0.3s;
}

.zone-link[aria-current="page"] .card {
    background: plum;
    color: black;
}

.media {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.media p {
    margin-top: -500px;
}

button {
    border: none;
  outline: none;
  background: none;
}

button img {
      width: 200px;
    height: auto;
}

.animate {
  animation: clickAnim 0.3s ease;
}

@keyframes clickAnim {
  0%   { transform: scale(1); }
  50%  { transform: scale(0.9); }
  100% { transform: scale(1); }
}